.addArticle {
  box-shadow: 15px 13px 14px 0px rgba(155,171,173,0.57);
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
}

.addArticleButton {
  width: 10%;
  border-radius: 10px;
  color: white;
  background-color: lightblue;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
  
}

.addArticleTitle {
  margin: 2%;
  border-radius: 10px;
  color: grey;
  font-size: 10px;
  width: 70%;
  padding: 2%

}

.addArticleBody {
  margin: 2%;
  border-radius: 10px;
  color: grey;
  font-size: 10px;
  width: 70%;
  height: 50%;
  padding: 2%
}
