.commentAdd {
  width: 100%
}

.commentInput {
  width: 90%;
  border-radius: none;
  margin-top: 2%;
  height: 100px;
  box-shadow: 4px 4px 20px #D3FDD8;
}

.commentButton {
  border-radius: 10px;
  background-color: darkcyan;
  margin-top: 1%;
  padding: 1%;
  color: white;
  font-weight: bold
}


