ul {
  list-style: none;
}

.commentBody {
  border-top: 0.1px solid grey;
  padding: 2%;
}

.commentInfo {
  color: #4DB6AC;  
  width: 90%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.deleteButton {
  height: 10%;
  margin-left: 20%;
  border-radius: 10px;
}

.deleteComment {
  font-size: 35px;
}
