ul {
  list-style: none;
}

.commentBody {
  border-top: 0.1px solid grey;
  padding: 1%;
  color: #333;
}

.commentInfo {
  color: #4db6ac;
  font-size: 16px;
  display: inline-block;
}

.deleteButton {
  height: 6%;
  border-radius: 10px;
  margin-bottom: 2px;
}

.deleteComment {
  font-size: 25px;
}
