@media screen and (min-width: 601px) {
  .footer {
    background-color: lightslategray;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: white;
    margin: none;
  }

  .github {
    height: 35px;
    border-radius: 50%;
    width: 35px;
  }

  .twitter {
    height: 35px;
    margin-left: 2%;
    width: 35px;
  }

  .linkedIn {
    height: 35px;
    margin-left: 2%;
    width: 35px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    background-color: lightslategray;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: white;
    margin: none;
  }

  .github {
    height: 25px;
    border-radius: 50%;
    width: 25px;
  }

  .twitter {
    height: 25px;
    margin-left: 2%;
    width: 25px;
  }

  .linkedIn {
    height: 25px;
    margin-left: 2%;
    width: 25px;
  }
}
