.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 4fr;
  grid-template-rows: 1fr 0.6fr 6fr 0.5fr;
  grid-template-areas:
  'login header'
  'login nav'
  'main main' 
  'footer footer'
}

header {
  border: 1px solid black;
  background-color: blue;
  color: white;
  grid-area: header
}

.loginComponent {
  border: 1px solid grey;
  background-color: aquamarine;
  padding: 10px;
  grid-area: login
}

nav {
  border: 1px solid grey;
  background-color: #A9CCE3
}

.articles {
  width: 100%;
  height: 100%;
  grid-area: main
}

footer {
  border: 1px solid grey;
  background-color: white;
  grid-area: footer
}


